#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-sub-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #333;
  background-color: #e6f2fa;
  border: none;
  border-bottom: 1px solid #1884ff;
  border-left: 1px solid #1884ff;
  box-shadow: none;
  transition: all 0.3s ease;
}

.services-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

input{
    width: 85%;
  padding: 10px;
  font-size: 14px;
  color: #333;
  background-color: #e6f2fa;
  border: none;
  border-bottom: 1px solid #1884ff;
  border-left: 1px solid #1884ff;
  box-shadow: none;
  transition: all 0.3s ease;
  margin-top: 5px;
  display: flex;
}

input:focus, .input:focus{
  border-color: #1884ff;
  box-shadow: 0 0 7px rgba(24, 132, 255, 0.5);
  outline: none;
}

input::placeholder {
  color: #b2afaf;
  font-style: italic;
  font-weight: 500;
}

input:required {
  border-left: 4px solid #dc3545;
}

input:disabled {
  background-color: #e9ecef;
  border-color: #ced4da;
  color: #6c757d;
  cursor: not-allowed;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-container input {
  padding-left: 35px;
}

.input-container i {
  position: absolute;
  left: 10px;
  color: #b6b6b6;
  font-size: 18px;
}

.input-error {
  border-color: #dc3545;
}

.error-message {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
}

.service-container {
  margin: 0 30px;
}

.sub-heading {
  color: #0f4666;
}

.heading {
  text-align: left;
  margin: 0%;
}
h1 {
  color: #0f4666;
  text-decoration: underline;
}

.buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.login-container {
  display: flex;
  align-items: center;
  border: #0f4666 2px solid;
  background: #0f4666;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.login-img {
  background: #fff;
}
.login-form {
  height: 100%;
  width: 100%;
}

.remove-service-btn {
  margin-top: 3px;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.service-row{
      display: flex;
  flex-direction: column;
  align-items: center;
}

.service-input-container {
  position: relative;
  overflow: visible;
    display: flex;
  flex-direction: column;
  gap: 15px;
}

.remove-service-btn {
  position: absolute;
  top: -20px;
  right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-input-container:hover .remove-service-btn {
  opacity: 1;
  transform: translateY(40px);
}

.service-container{
  display: flex;
  align-items: center;
  gap: 20px;
}

.service-container h3{
align-items: flex-end;
text-align: end;
margin: 0%;
}

@media (max-width: 768px) {
  .input-sub-container {
    gap: 20px;
  }
  .buttons {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
    margin: 0;
  }
  h2 {
    margin: 0;
    font-size: 22px;
  }

  #root {
    padding: 1rem;
  }

  .input-container {
    padding-left: 10px;
    width: 100%;
  }
  input {
    font-size: 12px;
    padding: 8px;
    width: 97%;
  }
  .input {
    font-size: 12px;
    padding: 8px;
    width: 97%;
  }

  .buttons button {
    padding: 7px;
    font-size: 14px;
  }

  .remove-service-btn {
    padding: 8px;
    font-size: 14px;
  }
  .service-container {
    margin: 0 10px;
  }
  .input-sub-container {
    gap: 10px;
  }
}
.login-form input {
  background: #0f4666 !important;
  color: #fff;
}
.login-input {
  background: #0f4666 !important;
  width: 85%;
  margin-bottom: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
  flex-direction: column;
  overflow: hidden;
}
.invoice-preview {
  background: white;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 210mm;
  height: 296mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-overlay .buttons {
  margin-top: 20px;
}

.upper-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invoice-quotation {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  background: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.invoice-type-dropdown {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  font-weight: bold;
  transition: 0.2s;
  width: 33%;
}

.invoice-type-dropdown:hover {
  border-color: #1884ff;
}

.invoice-type-dropdown:focus {
  outline: none;
  border-color: #0960c4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
